{% extends 'home/base.html'%}
{%block title%}
    About
{% endblock %}
{%block name%}
    <h2 class="text-center" style="color:grey">About Page</h2>
{% endblock %}
{% block aboutactive %}active{% endblock %}

{% block body %}
<div class="container">

    <div class="card">

    <div class="mb-3">
        <h5 class="card-title">Code Blog</h5>
        <p class="card-text">Code blog read our blogs</p>
       <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    </div>
</div>
{% endblock %}