{% extends 'home/base.html' %}

{% block title %}
    Blog Home
{% endblock %}

{% block name %}
    <h2 class="text-center" style="color:grey">Blog Home</h2>
{% endblock %}

{% block blogactive %}
    active
{% endblock %}

{% block body %}
<div class="container">
    {% for iPost in allPosts %}
        <div class="card my-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h8 class="card-title">Blog By - {{ iPost.author }}</h8>
                <h5 class="card-title">{{ iPost.title }}</h5>
                <p class="card-text">{{ iPost.content|truncatechars:100 }}</p>
                <a href="{{ iPost.slug }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
